# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\jacoxu\works\CASIA\20190402_Book_鸡尾酒会问题图书翻译\github\auditory_book\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
